// MATERIAL DESIGN GREYS
$black: #000000;
$grey-900: #212121;
$grey-850: #303030;
$grey-800: #424242;
$grey-700: #616161;
$grey-600: #757575;
$grey-500: #9E9E9E;
$grey-400: #BDBDBD;
$grey-300: #E0E0E0;
$grey-100: #F5F5F5;
$grey-50: #FAFAFA;
$white: #FFFFFF;

// FONT AWESOME
$fa-font-path: '../bower_components/components-font-awesome/fonts';