<main class="main row row--full">
    <div class="column small-2 side-panel">
        <navigation></navigation>
    </div>
    <div class="column small-10 content">

        <div class="row">
            <div class="column small-8">
                <h3>
                    {{contact.first_name}}
                    {{contact.last_name}}
                </h3>
            </div>
            <div class="column small-4">
                <div class="row row--full">
                    <div class="column small-6">
                        <a ng-href="{{contact._links.newMail[0].href}}"
                           target="_blank"
                           class="button">
                            <i class="fa fa-envelope"></i>
                            Email
                        </a>
                    </div>
                    <div class="column small-6 left">
                        <dropdown ng-if="contact.phones.length">
                            <button class="dropdown__trigger button"
                                    type="button"
                                    ng-click="dropdown.toggleDisplay()">
                                <i class="fa fa-phone"></i>
                                Phones
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown__list dropdown-pane"
                                ng-class="{'is-open': dropdown.open}"
                                ng-mouseleave="dropdown.toggleDisplay()">
                                <li class="dropdown__list-item"
                                    ng-repeat="phone in contact.phones">
                                    <a class="dropdown__list-link"
                                       ng-href="{{contact._links.newCall[$index].href}}">
                                        {{phone}}
                                    </a>
                                </li>
                            </ul>
                        </dropdown>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="column">
                <h4>Emails</h4>

                <div class="row"
                     ng-repeat="mail in contact.mails">
                    <div class="column ">
                        <accordion>
                            <div class="callout callout--email">
                                <header class="callout__header"
                                        ng-class="{'is--open': accordion.open}"
                                        ng-click="accordion.toggleDisplay()">
                                    <h5 class="callout__header-title">{{mail.subject}}</h5>
                                </header>
                                <div class="callout__content"
                                     ng-show="accordion.open">
                                    {{mail.text}}
                                </div>
                                <footer class="callout__footer">
                                    <span class="callout__footer-label">Date:</span>
                                    <span>
                                        <span class="callout__footer-value">
                                            {{mail.date | format: 'MMMM Do YYYY, h:mm'}}
                                            ({{mail.date | ago}})
                                        </span>
                                    </span>
                                    <br/>
                                    <span class="callout__footer-label">From:</span>
                                    <span>
                                        <span class="callout__footer-value"
                                              ng-repeat="sender in mail.from">{{sender}}</span>
                                    </span>
                                    <br/>
                                    <span class="callout__footer-label">To:</span>
                                    <span>
                                        <span class="callout__footer-value"
                                              ng-repeat="receiver in mail.to">{{receiver}}</span>
                                    </span>
                                </footer>
                            </div>
                        </accordion>

                    </div>
                </div>
            </div>
            <div class="column">
                <h4>Calls</h4>

                <div class="row"
                     ng-repeat="call in contact.calls">
                    <div class="column ">
                        <div class="callout callout--email">
                            <header class="callout__header">
                                <h5>{{mail.subject}}</h5>
                            </header>
                            <div class="callout__content"
                                 ng-class="{'is--open': accordion.open}"
                                 ng-show="accordion.open">
                                {{call.text}}
                            </div>
                            <footer class="callout__footer">
                                <span class="callout__footer-label">Date:</span>
                                <span class="callout__footer-value">{{call.date}}</span>
                                <br/>
                                <span class="callout__footer-label">From:</span>
                                <span class="callout__footer-value"
                                      ng-repeat="sender in mail.from">{{sender}}</span>
                                <br/>
                                <span class="callout__footer-label">To:</span>
                                <span class="callout__footer-value"
                                      ng-repeat="receiver in mail.to">{{receiver}}</span>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
