<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__list-item">
            <a class="navigation__list-link" href="#/reporting">
                <i class="fa fa-bar-chart"></i>
                Reporting
            </a>
        </li>
    </ul>
</nav>