<main class="main row row--full">
    <div class="column small-2 side-panel">
        <navigation></navigation>
    </div>
    <div class="column small-10 content">

        <h1>Activity report</h1>

        <div class="row">
            <div class="column small-3">
                <label for="userFilter">Filter by user</label>
                <select name="user"
                        ng-model="user"
                        id="userFilter"
                        ng-options="user.id as (user.last_name + ' ' + user.first_name) for user in users | orderBy: 'last_name'">
                    <option value="">All users</option>
                </select>
            </div>
            <div class="column small-3 left">
                <label for="periodFilter">Filter by period</label>
                <select name="period"
                        ng-model="period"
                        id="periodFilter"
                        ng-options="period as period for period in periods | orderBy: period">
                    <option value="">All periods</option>
                </select>
            </div>
        </div>
        <div class="row row--full">
            <div class="column small-6">
                <h5>Calls</h5>
                <hr/>
                <div class="row text-center">
                    <div class="column">
                        <h5 class="subheader">Calls</h5>
                        <span class="text text--primary text--xlarge">
                            <a href="#/contacts/?type=calls&keys=from">{{reporting.calls.called}}</a>
                        </span>
                    </div>
                    <div class="column">
                        <h5 class="subheader">Total duration</h5>
                        <span class="text text--primary text--xlarge">{{reporting.calls.totalDuration}}</span>
                    </div>
                    <div class="column">
                        <h5 class="subheader">Failed</h5>
                        <span class="text text--primary text--xlarge">{{reporting.calls.failed}}</span>
                    </div>
                </div>

            </div>
            <div class="column small-6">
                <h5>Mails</h5>
                <hr/>
                <div class="row text-center">
                    <div class="column">
                        <h5 class="subheader">Sent</h5>
                        <a href="#/contacts?type=mails&keys=from" class="text text--primary text--xlarge">{{reporting.mails.sent}}</a>
                    </div>
                    <div class="column">
                        <h5 class="subheader">Received</h5>
                        <a href="#/contacts?type=mails&keys=to" class="text text--primary text--xlarge">{{reporting.mails.received}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
