.callout{
  &.callout--email{
    padding: 0;
  }
}

.callout__header{
  position: relative;
  padding: $grid-column-gutter/4;
  margin-bottom: 0;
  padding-right: $grid-column-gutter;
  border-bottom: 1px solid $grey-100;
  cursor: pointer;
  &:after{
    position: absolute;
    content: '\f106';
    top: 6px;
    right: 10px;
    font-family: 'FontAwesome';
    font-size: rem-calc(20);
  }
  &.is--open{
    &:after{
      content: '\f107';
    }
  }
}

.callout__header-title{
  margin-bottom: 0;
  font-size: rem-calc(18);
}

.callout__content{
  position: relative;
  padding: $grid-column-gutter / 4;
  font-size: rem-calc(14);
  color: $grey-600;
  word-break: break-word;
}

.callout__footer{
  padding-top: $grid-column-gutter/3;
  padding-left: $grid-column-gutter/3;
  padding-right: $grid-column-gutter/3;
  background-color: $grey-100;
  font-size: rem-calc(11);
}

.callout__footer-label{
  font-size: rem-calc(12);
  font-weight: bold;
  color: $grey-700;
}

.callout__footer-value{
  color: $grey-600;
  &:not(:last-child):after{
    content: ', ';
  }
}