.navigation__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__list-item{

}

.navigation__list-link{
  display: block;
  padding: $grid-column-gutter/2;
  color: inherit;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -ms-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s;
}

