<main class="main row row--full">
    <div class="column small-2 side-panel">
        <navigation></navigation>
    </div>
    <div class="column small-10 content">

        <h1>Search results</h1>

        <div class="row">
            <div class="column small-3">
                <label for="userFilter">Filter by user</label>
                <select name="user"
                        ng-model="user"
                        id="userFilter"
                        ng-options="user.id as (user.last_name + ' ' + user.first_name) for user in users | orderBy: 'last_name'">
                    <option value="">All users</option>
                </select>
            </div>
            <div class="column small-3 left">
                <label for="periodFilter">Filter by period</label>
                <select name="period"
                        ng-model="period"
                        id="periodFilter"
                        ng-options="period as period for period in periods | orderBy: period">
                    <option value="">All periods</option>
                </select>
            </div>
        </div>

        <div class="row row--full collapse">
            <div class="column">
                <table width="100%">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contact in contacts.contacts">
                            <td>
                                <a ng-href="#/contacts/{{contact.contacts[0].id}}">{{contact.contacts[0].first_name}}
                                    {{contact.contacts[0].last_name}}
                                </a>
                            </td>
                            <td>
                                {{contact.email}}
                            </td>
                            <td>
                                {{contact.contacts[0].phones}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
